.navbar {
  /* colors are not changing neither background nor color */
  /* background-color:rgb(9, 50, 1); */
  /* border: 1px solid rebeccapurple; */
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebf4eb;
  /* border-radius: 20px; */
}

.navbar .logo-design {
  width: 80px;
  border-radius: 50%;
}

.navbar-menu {
  /* border: 1px solid black; */
  width: 50%;
  height: 10vh;
  display: flex;
  list-style: none;
  /* gap: 23px; */
  color: #198d19;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px; /* Adjusted for better alignment */
}

.navbar .signin-button {
  background-color: #02330f;
  font-size: 1rem;
  font-weight: 500;
  color: #dbf2e1;
  border: none;
  padding: 0.5rem 1rem; /* Adjusted padding for better alignment */
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.9s, background-color 0.5s, box-shadow 0.6s;
}

.navbar .signin-button:hover {
  background-color: #caf107;
  color: rgb(9, 95, 4);
  /* font-weight: bold; */
  /* border: 1px solid #034e17; */
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #034e17;
}

.navbar li {
  cursor: pointer;
  /* border: 1px solid red; */
}

.navbar li:hover {
  color: #06b406;
  font-size: 1.2rem;
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Added margin for spacing */
}

.search-input {
  padding: 0.5rem 1.5rem; /* Adjusted padding for better alignment */
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: #014614;
  color: white;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.navbar-basket {
  position: relativ;
  display: flex;
  align-items: center;
}

.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #06b406;
  border-radius: 50%;
  /* top: 48px; */
  /* right: 123px; */
}
